<%# <%=@user.name %> %>
<%# <%@user.subscriptions.each do |f| %> %>
  <%# <li><%=f.status %></li> %>
  <%# <li><%=f.interval %></li> %>
  <%# <li><%=f.current_period_start %></li> %>
  <%# <li><%=f.current_period_end%></li> %>
  <%# <li><%=f.status %></li> %>
<%# <%end%> %>
<%= link_to button_tag('Back', class:"btn btn-primary btn-sm ",style:"background-color: #C84630"),plans_path %>
