<h1> INVOICE </h1>
<p>user:<%=@user.name%><p>
<p>Plan name:<%=@plan.name%></p>
<p>monthly fee:<%=@plan.monthly_fee%><p>
<p style="color:red">Bill:<%=bill(@plan)%><p>
<p>Status:<%= @subs.status %><p>
<p>Interval:<%= @subs.interval %><p>
<p>Billing Day:<%= @subs.billing_day %><p>
<br>
