<div class="container" style="background-color:#577399">

  <%= form_with(model: plan, local: true) do |form| %>
    <% if plan.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>
        <ul>
          <% plan.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field form-group">
      <%= form.label :monthly_fee %>
      <%= form.number_field :monthly_fee,class:"form-control",required: true,min: "0" %>
    </div>

    <div class="field form-group">
      <%= form.label :name %>
      <%= form.text_field :name,class:"form-control",required: true%>
    </div>
    <br>
    <div class="actions" style="text-align:center">
      <%= form.submit %>
    </div>
    <br>
  <% end %>
</div>


