<%= render 'devise/shared/navbar'%>
<p>
  <strong>Name:</strong>
  <%= @plan.name %>
</p>
<p>
  <strong>Monthly Fee:</strong>
  <%= @plan.monthly_fee %>
</p>
<p>
<strong>Present Features</strong>
    <% @plan.features.each do |feature| %>
      <tr>
        <p>Name:
        <%= feature.name %></p>
        <p>Code:
        <%= feature.code %></p>
        <p>Unit price:
        <%= feature.unit_price %></p>
        <p>Max unit limit:
        <%= feature.max_unit_limit %></p>
        <p>
        <% if policy(feature).edit?%>
          <%= link_to button_tag('Edit feature', class: 'btn btn-dark float-left'),edit_plan_feature_path(@plan,feature) %>
        <% end %>
        </p>
        <p>
        <% if policy(feature).destroy?%>
          <%= button_to [@plan,feature], method: :delete, data: { confirm: 'Are you sure you want to delete this feature?' },
                                 class: 'btn btn-danger' do %>
                  Delete Feature
              <% end %>
        <% end %></p>
      </tr>
      <br>
<%end%>
</p>
<br>
<% if policy(@plan).subscribe_plan?%>
  <% if !params[:id].presence || current_user.id%>
    <%# <%= link_to button_tag('Subscribe', class: 'btn btn-dark float-left'),subscribe_plan_path(@plan) %> %>
    <%=button_to 'Subscribe',checkout_create_path, method: :post, params: {id: @plan.id}%>
  <%end %>
<%end %>

<% if policy(@plan).unsubscribe_plan? %>

<%end%>
<%= link_to button_tag('Back', class: 'btn btn-dark float-left'),plans_path %>

